{% extends "base.html" %} {% block content %}

<div>
    <div>{{improvement.name}}</div>
    <div>{{improvement.description}}</div>
    <div>{{improvement.beans}}</div>
</div>
<a href="{{url_for('improvement.edit', improvement_id=improvement.id)}}">Edit this Improvement</a>
<button class="delete-improvement-trigger" data-target="delete-improvement-modal">Delete improvement</button>
<div id="delete-improvement-modal" class="modal">
    <div class="modal-background"></div>

    <div class="modal-content">
        <div class="box">
            {% if current_user.type == 'admin' %}
            <div>Deleting an Improvement is permanent, are you sure?</div>
            <a href="{{url_for('improvement.delete', improvement_id=improvement.id)}}">Yes</a>
            {% else %}
            <div>You must be an admin to delete a Improvement</div>
            {%endif%}
            <button class="modal-close is-large" aria-label="close">No</button>
        </div>
    </div>
</div>
<div>
    <div>{{system.name}}</div>
    <div>{{system.system_health}}</div>
    <div>{{system.priority}}</div>
</div>

{% if came_from == 'improvements' %}
<a href="{{url_for('improvement.improvements')}}">Back to Improvements</a>
{% else %}
<a href="{{url_for('system.view', system_id=system.id)}}">Back to System</a>
{%endif%}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        function openModal($el) {
            $el.classList.add('is-active');
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        (document.querySelectorAll('.delete-improvement-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);
            console.log($target);

            $trigger.addEventListener('click', () => {
                openModal($target);
            });
        });

        (
            document.querySelectorAll(
                '.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button',
            ) || []
        ).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        document.addEventListener('keydown', (event) => {
            const e = event || window.event;

            if (e.keyCode === 27) {
                closeAllModals();
            }
        });
    });
</script>
{% endblock %}
