{% extends "base.html" %} {% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Edit Improvement</h3>
    <form method="POST" action="/improvements/edit">
        <label>Improvement Name</label>
        <div class="field">
            <div class="control">
                <input class="input is-large" type="text" name="name" value="{{improvement.name}}" />
            </div>
        </div>
        <label>Number of Beans</label>
        <div class="field">
            <div class="control">
                <input class="input is-large" type="number" name="beans" value="{{improvement.beans}}" />
            </div>
        </div>
        <label>Improvement Description</label>
        <div class="field">
            <div class="control">
                <textarea class="input is-large" type="textarea" name="description" value="{{improvement.description}}">
                </textarea>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input type="hidden" name="system_id" value="{{improvement.system_id}}" />
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input type="hidden" name="improvement_id" value="{{improvement.id}}" />
            </div>
        </div>
        <button class="button is-block is-info is-large is-fullwidth">Submit</button>
    </form>
</div>
{% endblock %}
