alembic==1.7.7
awscli==1.18.172
boto3==1.16.12
botocore==1.19.12
click==8.1.2
colorama==0.4.3
docutils==0.15.2
Flask==2.1.1
Flask-Login==0.6.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
gunicorn==20.1.0
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
jmespath==0.10.0
Mako==1.2.0
MarkupSafe==2.1.1
protobuf==3.13.0
pyasn1==0.4.8
python-dateutil==2.8.1
PyYAML==5.3.1
rsa==4.5
s3transfer==0.3.3
six==1.15.0
SQLAlchemy==1.4.35
urllib3==1.25.11
Werkzeug==2.1.1
zipp==3.8.0
