{% extends "base.html" %} {% block content %} {% with messages = get_flashed_messages() %} {% if messages %}
<div class="notification is-danger">{{ messages[0] }}</div>
{% endif %} {% endwith %}
<div>{{system.name}}</div>
<div>{{system.system_health}}</div>
<div>{{system.priority}}</div>
<div>{{system.language}}</div>
<div>{{system.tech_stack}}</div>
<div>{{system.description}}</div>

<a href="{{url_for('improvement.create', system_id=system.id)}}">Add an improvement</a>

{% for improvement in improvements %}
<div>
    <a
        href="{{url_for('improvement.view', improvement_id=improvement.id, system_id=improvement.system_id, came_from='system')}}"
        >{{improvement.name}}</a
    >
    <div>{{improvement.description}}</div>
    <div>{{improvement.beans}}</div>
</div>
{% endfor %}

<a href="{{url_for('system.systems')}}">Back to System</a>

{% endblock %}
